.header-wrapper {
  color: var(--white);
}

.header-container {
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-logo {
  width: 100px;
}

.navbar__list {
  gap: 2rem;
}

.navbar__item:hover {
  opacity: 0.7;
} 


.navbar__item-link {
  color: var(--secondary);
}



