.value-container {
  justify-content: space-between;
}

.value__img-container {
  width: 30rem;
 height: 35rem;
 overflow: hidden;
 border-radius: 15rem 15rem 0 0;
 border: 8px solid #eaeaea ;
}

.value-img {
  width: 100%;
  height: 100%;
}